@mixin sectionTitle($bcgCol) {
  background-color: $bcgCol;
  text-align: center;
  padding: 3rem 0;
  font-size: 5rem;
  letter-spacing: 3px;
  font-family: 'Bangers', cursive;
}

@mixin sectionInfo {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 4rem;
}

@mixin sectionListToggle {
  &-navigation {
    &:hover .section__grid-link {
      opacity: 0.8;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:hover .section__grid-link__icon {
      transform: rotateZ(180deg);
    }

    &:hover .section__grid-list {
      visibility: visible;
      height: auto;
      opacity: 1;
    }
  }
}