.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 600;
  background-color: white;
  border-radius: 0.5rem;
  padding: 3rem;
  display: none;
  width: 80%;
  max-width: 50rem;
  
  &__content {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  &__buttons {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    button {
      display: block;
      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__cancel {
    margin-right: 1rem;
    background-color: red;
  }

  &__continue {
    background-color: lightblue;
  }
}

.modalOpen {
  display: block;
}