// CHEESES

.mozzarella {
  background-color: rgb(233, 235, 151);
  border-radius: 50%;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.havarti {
  background-color: rgb(235, 216, 151);
  border-radius: 50%;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.goat-cheese {
  background-color: rgb(226, 226, 202);
  border-radius: 50%;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

// meats
.salmon {
  border-radius: 50%;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &__content {
    position: relative;
    height: 100%;
    width: 100%;

    & > * {
      z-index: 2;
      background-color: pink;
      position: absolute;
      border-radius: 50%;
    }
  }

  &--1 {
    height: 10rem;
    width: 7rem;
    border-radius: 50%;
    top: 10rem;
    left: 5rem;
  }
  &--2 {
    height: 8rem;
    width: 6rem;
    top: 2rem;
    right: 9rem;
    transform: rotateZ(-40deg);
  }
  &--3 {
    height: 7rem;
    width: 10rem;
    bottom: 7rem;
    left: 5rem;
    transform: rotateZ(30deg);
  }
  &--4 {
    height: 10rem;
    width: 7rem;
    bottom: 2rem;
    right: 7rem;
    transform: rotateZ(30deg);
  }
  &--5 {
    height: 12rem;
    width: 8rem;
    top: 11rem;
    left: 18rem;
    transform: rotateZ(-30deg);
  }
  &--6 {
    height: 8rem;
    width: 5rem;
    top: 2rem;
    left: 12rem;
    transform: rotateZ(50deg);
  }
}

.bacon {
  border-radius: 50%;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &__content {
    position: relative;
    height: 100%;
    width: 100%;

    & > * {
      background-color: rgb(177, 27, 27);
      border-radius: 50%;
      position: absolute;
      z-index: 3;
    }
  }
  
  &--1 {
    height: 5rem;
    width: 4rem;
    top: 8rem;
    left: 5rem;
    transform: skew(-30deg);
  }
  &--2 {
    height: 8rem;
    width: 6rem;
    top: 8rem;
    right: 6rem;
    transform: rotateZ(40deg);
  }
  &--3 {
    height: 5rem;
    width: 7rem;
    bottom: 4rem;
    left: 8rem;
    transform: rotateZ(-30deg);
  }
  &--4 {
    height: 7rem;
    width: 4rem;
    bottom: 6rem;
    right: 4rem;
    transform: rotateZ(30deg);
  }
  &--5 {
    height: 10rem;
    width: 6rem;
    top: 11rem;
    left: 13rem;
    transform: rotateZ(20deg);
  }
  &--6 {
    height: 9rem;
    width: 5rem;
    top: 2rem;
    left: 17rem;
    transform: rotateZ(-50deg);
  }
  &--7 {
    height: 9rem;
    width: 5rem;
    bottom: 6rem;
    left: 17rem;
    transform: rotateZ(30deg);
  }
  &--8 {
    height: 9rem;
    width: 5rem;
    bottom: 12rem;
    left: 2rem;
    transform: rotateZ(30deg);
  }
}

// shrooms
.shrooms {
  border-radius: 50%;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &__content {
    position: relative;
    height: 100%;
    width: 100%;

    & > * {
      background-color: rgb(141, 141, 141);
      height: 7rem;
      width: 6rem;
      position: absolute;
      z-index: 4;
      clip-path: polygon(2rem 0, 4rem 0, 5rem 1rem, 100% 3rem, 100% 4rem, 5.5rem 4rem, 5rem 3rem, 3.5rem 2rem, 4.5rem 100%, 3.3rem 6.5rem, 2.5rem 100%, 2.5rem 2rem, 1rem 4rem, 1rem 4.5rem, 0 4rem, 0 2rem);
    }

    
  }
  &--1 {
    top: 6rem;
    left: 10rem;
  }
  &--2 {
    top: 12rem;
    right: 2rem;
    transform: rotateZ(-20deg);
  }
  &--3 {
    bottom: 10rem;
    left: 2rem;
    transform: rotateZ(20deg);
  }
  &--4 {
    bottom: 7rem;
    right: 10rem;
    transform: rotateZ(80deg) scale(1.1);
  }
}

.olives {
  border-radius: 50%;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
  &__content {
    position: relative;
    height: 100%;
    width: 100%;

    & > * {
      border-radius: 50%;
      height: 3rem;
      width: 1.5rem;
      position: absolute;
      background-color: rgb(109, 128, 0);
      z-index: 5;
    }
  }

  &--1 {
    top: 10rem;
    left: 4rem;
  }
  &--2 {
    top: 6rem;
    left: 7rem;
  }
  &--3 {
    top: 4rem;
    left: 15rem;
  }
  &--4 {
    top: 3rem;
    left: 22rem;
  }
  &--5 {
    top: 17rem;
    left: 2rem;
  }
  &--6 {
    top: 15rem;
    left: 14rem;
  }
  &--7 {
    top: 10rem;
    left: 22rem;
  }
  &--8 {
    top: 16rem;
    right: 10rem;
  }
  &--9 {
    bottom: 10rem;
    left: 9rem;
  }
  &--10 {
    bottom: 5rem;
    right: 6rem;
  }
}